<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
});
</script>

<head>
    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
    <div class="container">
    <h1>Home</h1>
        {{ form }}
    <form method="post">
        {% csrf_token %}
        {{ formy }}
        <button type='submit' >submit</button>
    </form>
        <p>{{ tasklist }}</p>
<script type="math/tex; mode=display">
      {{text}}
</script>


    </div>

