.form1 {
    border-radius: 4px;
}

.form2 {
    border-radius: 4px;
}

a:visited {
    color: #f3cc5a;
}

a:hover {
    color: #ec6593;
}

a:active {
    color: #3b3b3b;
}

p {
    font: 120% monospace;
    color: #222221;
}

.task_name {
    font: 150% monospace;
    background-color: #1c9675;
    padding: 5px;
    width: auto;
}

.col1 {
    float: left;
    padding: 3%;
    height: 50%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #F6FBEF;
}

.col3{
    position: relative;
    padding: 10px;
    width: 75%;
    height: auto;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    border-right: solid 1px #DBD6E0;
    background-color: #3b3b3b;
}

.col4{
    position: relative;
    padding: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    margin-top: 34px;
    margin: 10px;
    border: solid 1px #D6DBE0;
    background-color: #F6FBEF;
}

.nazvanie{
    float: left;
    margin-top: 0.3%;
    margin-right: 3%;
    padding: 5px;
}

.git_link{
    margin-left: 47%;
    position: absolute;
    bottom: 10px;
}
