{% extends "./base.html" %}

{% block title %}Система генерации типовых задач{% endblock %}

{% block content %}
<div class="col1">
    <h2>Руководство пользователя</h2>
    <p>Система генерации задач поможет вам подготовиться к тестированию самостоятельно! В меню справа выберите одну из двух доступных опций. Вы можете получить уже сгенерированные задачи или же сгенерировать новые варианты шаблонных задач и изменить их по своему усмотрению. Если вам не хватает какого-то типа задач, вы можете сами написать и подключить генератор.</p>
</div>

<div class="git_link">
    <a href="https://github.com/lasimondep/project-autumn2018-mmm" target="_blank"><p>Проект на GitHub</p></a>
</div>
{% endblock %}
