{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'taskgen/style.css' %}">

<!DOCTYPE html>
<html>
<head>
<title>Вход</title>
<h1>Введите логин</h1>
</head>
<body>
<form method="post">
{% csrf_token %}
	<!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
	<input type="text" class="form1" name="username">
	<input type="password" class="form1" name="password">
	<button type="submit" name="choizy" class="button">Войти</button>
</form>
{{ x }}
<div class = "home">
    <a href="{% static 'taskgen/photo5386366040247740930.jpg' %}" download>click here</a>

	<a href="/">На главную</a>
</div>
</body>

</html>