{% load static %}

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
	<script type="text/javascript" async
	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
	</script>
</head>
<body>

{% if tasks %}
<form action="{% url 'taskgen:change_task' %}", method="post">
{% for task in tasks %}
	{%	for word in task %}
		{% if forloop.counter|divisibleby:"2" %}
			<input type="text" value="{{ word }}">
		{% else %}
			{{ word }}
		{% endif %}
	{% endfor %}
	<br>
{% endfor %}
</form>
{% endif %}
</body>