{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'taskgen/style.css' %}">

<head>
	<style>
		.hide {display: none}
		.hide:not(:checked) + * { display: none; }
		.lhide { display: inline-block;
			padding: 1px 10px;
			border-radius: 2px;
			color: #fff;
			background: #4e6473;
			cursor: pointer;
	  	}
	</style>
</head>
<body>
<h1>Выберите задачу</h1>
{% load mptt_tags %}
<form action="{% url 'taskgen:statements' %}", method='post'>
{% csrf_token %}
<input type='hidden' name='get_from' value='{{ get_from }}'>
<ul>
	{% recursetree task_list %}
		<li>
			{% if not node.is_leaf_node %}
				<label for="hide{{ node.pk }}" class="lhide">{{ node.description }}</label>
				{% if node.task_id %}
					<input style="width:auto" type="number" name="{{ node.pk }}" id="numt{{ node.pk }}" min="0" max="9" value="0" class="form2">
				{% endif %}
				<input type="checkbox" id="hide{{ node.pk }}" class="hide">
				<ul class="children">
					{{ children }}
				</ul>
			{% else %}
				{{ node.description }}
				{% if node.task_id %}
					<input style="width:auto" type="number" name="{{ node.pk }}" id="numt{{ node.pk }}" min="0" max="9" value="0">
				{% endif %}
			{% endif %}
		</li>
	{% endrecursetree %}
</ul>
<input type="submit" value="Загрузить выбранные" class="button">
</form>
<div class = "home"><a href="/">На главную</a></div>
</body>